*{
    background-color: #D8E9F3;
}
#grid-1{
    position: absolute;
    position: absolute;
    top: 20%;
    left: 10px;
    border: 1px solid black;
    width: 200px;
    aspect-ratio: 1/1;
}
#grid-2{
    position: absolute;
    position: absolute;
    top: 20%;
    left: 220px;
    border: 1px solid crimson;
    width: 200px;
    aspect-ratio: 1/1;
}
#grid-3{
    position: absolute;
    position: absolute;
    top: 20%;
    left: 430px;
    border: 1px solid black;
    width: 200px;
    aspect-ratio: 1/1;
}
#grid-4{
    position: absolute;
    position: absolute;
    top: 20%;
    left: 640px;
    border: 1px solid black;
    width: 200px;
    aspect-ratio: 1/1;
}
#grid-5{
    position: absolute;
    position: absolute;
    top: 20%;
    left: 850px;
    border: 1px solid black;
    width: 200px;
    aspect-ratio: 1/1;
}
#grid-6{
    position: absolute;
    position: absolute;
    top: 20%;
    left: 1060px;
    border: 1px solid black;
    width: 200px;
    aspect-ratio: 1/1;
}
.btn-panel{
    position: absolute;
    top: 90%;
    left: 40%;
}
